
body{
    margin: 0;
    background: linear-gradient(to left, #00AAFF, #00FF6C);
}

.calculator-grid{
    display: grid;
    margin:  2rem;  
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.button-grid{
    display: grid;
    background: #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    width: 383px;
    height: 495px;
    margin-top: 5px;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;  
    word-wrap: break-all;  
    border-radius: 20px;

}

.operator{
    color: white;
}

.output .previous-operand{
    color: rgba(255, 255, 255, 75);
    font-size: 1.5rem
}

.output .currnet-operand{
    color: white;
    font-size: 2.5rem
}

.btn{
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    margin: 2px;
    
}